* {
  box-sizing: border-box;
}
:root {
  --primary-color: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ===Dùng chung=== */
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.title-chung {
  font-size: 51.7rem;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 80px; /* 114.286% */
  letter-spacing: -1.4px;
}
.desc-chung {
  font-size: 46.8rem;
  color: #2e3032;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}
/* end dùng chung */
.header {
  background-color: var(--primary-color);
  height: 800px;
}
.header-top {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
}
.navbar__item:hover {
  /* opacity: 0.5; */
  text-shadow: 1px 0 0 #fff;
}
.navbar__link a {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  padding: 8px 24px;
}
.btn {
  display: inline-block;
  width: 205px;
  line-height: 60px;
  text-align: center;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
}
.btn:hover {
  opacity: 0.8;
}
.header__action--login,
.header__action--singup {
  color: #fff;
  width: 104px;
  line-height: 44px;
  border-radius: 22px;
  margin-left: 28px;
}
.hero {
  margin-top: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__title {
  width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 80px; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  margin-bottom: 38px;
  width: 468px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}
.hero__media {
  display: flex;
  align-items: center;
}
.hero__media1 {
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  position: relative;
  right: -1px;
}
.hero__media2 {
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-radius: 0px 6px 6px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.hero__phone {
  margin-left: 38px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.67;
}
/* ======service======== */
.service__medialeft {
  width: 49%;
}
.service__list {
  /* width: 51%; */
}
.service {
  margin: 170px 0;
}
.service__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
  background: url(<path-to-image>) lightgray 0px -1.3px / 100% 149.93% no-repeat;
}
.service__title,
.service__desc {
  text-align: center;
}
.service__item {
  display: flex;
  justify-content: center;
  width: 470px;
  height: 128px;
}
.service__item:hover {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.service__item:hover .service__icon {
  color: #fff;
  background: #2e80ce;
}
.service__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  margin-right: 19px;
  margin-left: 22px;
}
.service__heading {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
}
.service__btn {
  margin-top: 55px;
}

/* ======WORKS======== */
.works {
  background: #f6fbff;
  height: 826px;
  margin: 170px 0;
}
.works__list {
  display: flex;
  justify-content: space-between;
}
.works__items {
  width: 370px;
  height: 402px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  background: #fff;
  margin-top: 70px;
}
.works__items:hover {
  transform: translateY(-16px);
  border: 16px solid #2e80ce;
  transition: 0.5s;
}
.works_icon {
  width: 67.523px;
  height: 67.522px;
  color: var(--primary-color);
  margin-bottom: 21px;
}
.works__content {
  margin-top: 46px;
  margin-left: 46px;
}
.works__title {
  color: var(--primary-color);
  font-style: normal;
  font-weight: 600;
  line-height: 1.38;
  margin-bottom: 28px;
}
.works__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
  margin-bottom: 18px;
}
/*======Takeback======= */
.takeback__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 250px;
}
.takeback__media {
  width: 49%;
  margin-right: 130px;
  position: relative;
}
.takeback__imglarge {
  display: flex;
  object-fit: cover;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.takeback__imgsmall {
  position: absolute;
  top: 121px;
  left: 238px;
  object-fit: cover;
  width: 332px;
  height: 370px;
  border-radius: 6px;
}
.takeback__btn {
  margin-top: 38px;
}
.takeback__right {
  width: 51%;
}
/* ===Dentist */
.dentist {
  height: 686px;
}
.dentist__bg {
  width: 270px;
  height: 318px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}
.dentist__avatar {
  max-width: 100%;
  height: 390px;
  object-fit: cover;
  object-position: center;
}
.dentist__top {
  text-align: center;
  margin: 0 auto;
}
.dentist__team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
.dentist__profile:hover .dentist__avatar {
  transform: scale(1.1);
  transition: 0.5s;
}
.dentist__btn {
  margin-bottom: 70px;
}
.dentist__title {
  margin-top: 12px;
  color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}
.dentist__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.85;
}
.control__action {
  margin-top: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.control__fw,
.control__next {
  background: none;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 1px solid #575f66;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control__next:hover,
.control__fw:hover {
  background: #2e80ce;
  color: #f6fbff;
}
/* ==Download== */
.download {
  margin-top: 150px;
  margin-bottom: 150px;
}
.download__body {
  margin: 180px 0 85px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
}
.download__phone {
  position: absolute;
  bottom: 0;
  width: 720px;
  height: 522px;
  object-fit: cover;
  display: block;
  left: -150px;
}
.download__right {
  width: 586px;
}
.download__title,
.download__desc {
  color: white;
}
/* blog */
.blog__action {
  margin-top: 31px;
  display: flex;

  gap: 20px;
}
.blog__fw,
.blog__next {
  background: none;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 1px solid #575f66;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog__next:hover,
.blog__fw:hover {
  background: #2e80ce;
  color: #f6fbff;
}
/* =====blog======= */
.blog__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 170px;
}
.blog__left {
  width: 40%;
}
.blog__readmore {
  display: inline-block;
  margin: 18px 0;
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.55;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}
.blog__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
.blog__content {
  width: 270px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.blog__content:hover .blog__thumb {
  transform: scale(1.2);
  transition: 0.5s;
}
.blog__detail {
  margin: 22px;
}
.blog__img {
  height: 172px;
  overflow: hidden;
}
.blog__thumb {
  max-width: 270px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
  background: url(<path-to-image>) lightgray -2px -4.032px / 100.741% 104.688%
    no-repeat;
}
.blog__content__title {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62;
}
.blog__content__desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71;
  margin: 10px 0;
}
/* ====Appointment==== */
.apm {
  height: 452px;
  background: #f6fbff;
  text-align: center;
  margin-bottom: 170px;
}
.apm__title {
  padding-top: 100px;
}
.app__line {
  height: 2px;
  background: var(--primary-color);
  width: 10%;
  margin: 18px auto;
}
.app__desc {
  max-width: 617px;
  margin: 0 auto;
  margin-bottom: 38px;
}
/* ===Footer=== */
.footer {
  background-color: var(--primary-color);
  height: 533px;
  padding-top: 100px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  /* display: grid;
  justify-content: space-between; */
  column-gap: 78px;
  /* grid-template-columns: 2fr 1fr 1fr 2fr; */
}
.footer__menu {
  display: grid;
  gap: 28px 78px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2;
}
.footer__logo {
  display: block;
  margin-bottom: 21px;
}
.footer__desc {
  width: 336px;
  color: #a9b3bb;
  margin-bottom: 10px;
}
.footer__title {
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  margin-bottom: 20px;
}
.footer__list a {
  color: #a9b3bb;

  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.footer__social {
  gap: 20px;
  display: flex;
  margin-bottom: 20px;
}
.fa-brands {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e80ce;
  font-size: 15px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: #fff;
}
.fa-brands:hover {
  color: white;
  background: #2e80ce;
}
.subscribe {
  display: flex;
  align-items: center;
  justify-self: center;
}

.subscribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 185.714% */
  border-radius: 4px;
  width: 108px;
  height: 46px;
}
.subscribe__email {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  margin-right: 16px;
  background-color: transparent;
}
